{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %} Task {% endblock %}
{% block content %}
<div id="globalAlert"></div>
<div class="row header">
    <div class="col-1 headerImg">
        <img src="{% static 'icons/list.png' %}">
    </div>
    <div class="col-8">
        <div class="row headerTitle">
            Tasks
        </div>
        <div class="row headerInfo">
            You have {{ taskCount }} tasks remaining
        </div>
    </div>
    <div class="col-1">
        <img class="headerImg" onclick="reloader();" src="{% static 'icons/plus.png' %}">
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="row studyItems">
            {% for item in tasks %}
                <div class="studyItem" onclick="getTask({{item.id}});">
                    <div class="col-1">
                    </div>
                    <div class="col">
                        <h2 class="studyItemTitle">{{ item.name }}</h2>
                        <p class="studyItemText">Module: {{ item.assignment.module.name }} </p>    
                        <p class="studyItemText">Assginement: {{ item.assignment.name }} </p>    
                        <p class="studyItemText">Due: {{ item.due }} </p>    
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
    <div class="col">
        <form>
            {% csrf_token %}
            <!-- lets django know this form is to be tusted, POST is allowed (else we have to define as form.py) -->
            {{ form }}
            <input type="number" id="taskID" hidden>
            <div class="form-group">
                <label for="name">Task Name</label>
                <input id="formName"  type="text" class="form-control" placeholder="Enter task name" name="name">
                <!-- name is name use request.POST['name'] -->
            </div>
            <div class="form-group">
                <label for="assignment">Assignment</label>
                <select class="form-control" id="formAssignment" onchange="getDate();" name="assignment">
                    <option disabled selected value> -- select an option -- </option>
                    {% for assignment in assignments %}
                    <option value="{{assignment.id}}" >{{ assignment.module.name }} ⯈ {{ assignment.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="set">Set</label>
                <input disabled id="formSet" type="datetime-local" class="form-control" name="set">
            </div>
            <div class="form-group">
                <label for="due">Due</label>
                <input disabled id="formDue" type="datetime-local" class="form-control" name="due">
            </div>
            <div class="form-group">
                <label for="notes">Notes</label>
                <textarea id="formNotes" class="form-control" name="notes" rows="5" placeholder="Enter notes here"></textarea>
            </div>

                <img class="StudyItemActionImg" onclick="saveTask();" src="{% static 'icons/save.png' %}" id="imgSave">
                <img hidden onclick="saveEdit();" src="{% static 'icons/save.png' %}" id="imgEditSave">
                <img hidden onclick="addActivity();" src="{% static 'icons/add.png' %}" id="imgAddActivity">
                <img hidden onclick="editTask();" src="{% static 'icons/edit.png' %}" id="imgEdit">
                <img hidden onclick="deleteTask();" src="{% static 'icons/garbage.png' %}" id="imgDelete">

        </form>
        <div id="taskActivities" class="row studyItems">            
        </div>
    </div>
</div>

<script>
    var taskName = document.getElementById("formName");
    var taskAssignment = document.getElementById("formAssignment");
    var taskSet = document.getElementById("formSet");
    var taskDue = document.getElementById("formDue");
    var taskNote = document.getElementById("formNotes");
    var taskID = document.getElementById("taskID");
    var today = new Date().toISOString().split('T')[0];d
    taskSet.min = "2019-05-14T00:00"; 

    function getTask(id) {
        document.getElementById("imgSave").hidden = false;
        document.getElementById("imgEditSave").hidden = true;
        document.getElementById("imgAddActivity").hidden = false;
        document.getElementById("imgEdit").hidden = false;
        document.getElementById("imgDelete").hidden = false;

        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            type:'GET',
            url:'/task/getTask',
            headers:{
                "X-CSRFToken": csrftoken
            }, 
            data:{
                'id':id
            },
            success:function(data){
                //alert(data.name)
                var div = document.getElementById('taskActivities');
                div.innerText = "";
                taskName.value = data.name;
                taskName.disabled = true;
                taskAssignment.value = data.assignment;
                taskAssignment.disabled = true;
                taskSet.value = data.set;
                taskSet.disabled = true;
                taskDue.value = data.due;
                taskDue.disabled = true;
                taskID.value = data.id;
                taskID.disabled = true;
                taskNote.value = data.note;
                taskNote.disabled = true;
                div.innerHTML += data.activities;

            }
        })
    }
    function getActivity(id) {
        //alert(id);      
        window.open (
            "/activity/"+id,
            "mywindow",
            "menubar=0,resizable=0,width=600,height=800");
    }

    function addActivity() {
        id = document.getElementById('taskID').value;
        //alert("/activity/new/"+id);
        window.open (
            "/activity/new/"+id,
            "mywindow",
            "menubar=0,resizable=0,width=600,height=800");
    }

    function editTask(){
        document.getElementById("imgSave").hidden = true;
        document.getElementById("imgEditSave").hidden = false;
        document.getElementById("imgAddActivity").hidden = true;
        document.getElementById("imgEdit").hidden = true;
        document.getElementById("imgDelete").hidden = true;

        taskName.disabled = false;
        taskAssignment.disabled = false;
        taskSet.disabled = false;
        taskDue.disabled = false;
        taskNote.disabled = false;
    }

    function saveEdit(){
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            type:'GET',
            url:'edit/'+taskID.value,
            headers:{
                "X-CSRFToken": csrftoken
            }, 
            data:{
                'id':taskID.value,
                'name' : taskName.value,
                'set' : taskSet.value,
                'due' : taskDue.value,
                'note' : taskNote.value
            },
            success:function(data){
                if (data == "gg"){
                    location.reload();
                }
            }
        })
    }

    function deleteTask(){
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            type:'GET',
            url:'delete/'+taskID.value,
            headers:{
                "X-CSRFToken": csrftoken
            }, 
            data:{
                'id':taskID.value,
            },
            success:function(data){
                if (data == "gg"){
                    location.reload();
                }
            }
        })
    }

    function getDate() {
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            type:'GET',
            url:'/task/getDates',
            headers:{
                "X-CSRFToken": csrftoken
            }, 
            data:{
                'id':taskAssignment.value
            },
            success:function(data){
                //alert("max: " + data.max + "Min: " + data.min);
                taskSet.disabled = false;
                taskDue.disabled = false;
                taskSet.min = data.min;
                taskSet.max = data.max;
                taskDue.min = data.min;
                taskDue.max = data.max;
            }
        })
    }

    function saveTask() {
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            type:'GET',
            url:'/task/addTask',
            headers:{
                "X-CSRFToken": csrftoken
            }, 
            data:{
                'name' : taskName.value,
                'set' : taskSet.value,
                'due' : taskDue.value,
                'note' : taskNote.value,
                'assignment' : taskAssignment.value,
            },
            success:function(data){
                //alert("max: " + data.max + "Min: " + data.min);
                if (data == "gg"){
                    location.reload();
                }
                else{
                    alert("error");
                }               
            }
        })
    }
    function reloader(){
        location.replace('/task')
    }

    function alertMsg(type, message){
        var ga = document.getElementById('globalAlert')
        if (type==1){
            ga.innerHTML += "<p>dsfdfd</p>"
        }
    }   


</script>

{% if open != 0 %}
<script type="text/javascript">
    getTask({{open}});
</script>
{% endif %}
{% endblock %}
