{% load static from staticfiles %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Activity</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
  <script src="{% static 'jquery-3.4.1.min.js' %}"></script>

</head>

<body>
    <div class="row actionHeader">
            <div class="col-3">
                <img class="headerImg" src="{% static 'icons/home.png' %}">
            </div>
            <div class="col">
                <div class="row headerTitle">
                    {% if mode == "open" %}
                        {{ activity.name }}
                    {% else %}
                        New Activity
                    {% endif %}
                </div>
                <div class="row headerInfo">
                    {% if mode != "open" %}
                        Task: {{task.name}}
                    {% endif %}
                </div>
            </div>
        </div>
    <div class="container activityBody">
        <div class="row activityAction">
            <p disabled class="activityTime" id="textDuration" >{{activity.duration}}</p>
        </div>
        <div class="row activityAction">
            <img class="activityActionImg" id="imgPlay" onclick="setTimer();" src="{% static 'icons/play-button.png' %}">
            <img hidden class="activityActionImg" id="imgPause" onclick="pauseTimer();" src="{% static 'icons/pause.png' %}">
        </div>
        <div class="row activityForm">
            <form method="POST" action="/activity/add/{{task.id}}">
                {% csrf_token %}
                <!-- lets django know this form is to be tusted, POST is allowed (else we have to define as form.py) -->
                {{ form }}
                <div class="form-group">
                    <label for="name">Name</label>
                    <input {% if mode == "open" %} disabled value="{{ activity.name }}" {% endif %} id="formName" type="text" class="form-control" placeholder="Enter task name" name="name">
                    <!-- name is name use request.POST['name'] -->
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Duration</label>
                    <select {% if mode == "open" %} disabled {% endif %} class="form-control" id="formDuration">
                        {% if mode == "open" %}
                            <option selected="selected">{{ activity.duration }}</option>
                        {% else %}
                            {% for minute in duration %}
                                <option>{{ minute }}</option>
                            {% endfor %}
                        {% endif %} 
                    </select>
                </div>
                <div class="form-group">
                    <label for="notes">Notes</label>
                    <textarea {% if mode == "open" %} disabled {% endif %} id="formNotes" class="form-control" name="notes" rows="5" placeholder="Enter notes here">{% if mode == "open" %}{{ activity.note }}{% endif %}</textarea>
                </div>

                <div class="form-group">
                    <button {% if mode == "open" %} disabled {% endif %} type="button"  onclick="addActivity();" class="btn btn-primary">Save</button>
                </div>        
            </form>
        </div>
    </div>
    <style>
        p.activityTime
        {
            font-size: 50px;
            text-align: center;
            margin-left: 30px;
        }
        img.activityActionImg
        {
            margin-left: 80px;
        }
        div.activityForm
        {
            margin: 20px 0px;
        }
        div.activityAction
        {
            margin-top: 20px;
        }
        div.actionHeader
        {
            margin: 20px 100px;
        }
        div.activityBody
        {
            margin-left: 150px;
        }
        div.activityDuration
        {
            width: 100%;
        }
    </style>

    <script>
        var myVar;
        function addActivity() {
            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
            $.ajax({
                type:'GET',
                url:'/activity/add/{{task.id}}',
                headers:{
                    "X-CSRFToken": csrftoken
                }, 
                data:{
                    'name': document.getElementById("formName").value,
                    'duration': document.getElementById("formDuration").value,
                    'note': document.getElementById("formNotes").value
                },
                success:function(data){
                    if (data == "gg")
                    {
                        window.close();
                    }
                }
            })
        }
        function setTimer(){
            document.getElementById("imgPlay").hidden = true;
            document.getElementById("imgPause").hidden = false;
            myVar = setInterval(activityTimer, 1000);
        }
        function pauseTimer(){
            document.getElementById("imgPause").hidden = true;
            document.getElementById("imgPlay").hidden = false;
            clearInterval(myVar);
        }

        function activityTimer(){
            
            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
            $.ajax({
                type:'GET',
                url:'/activity/active/{{activity.id}}',
                headers:{
                    "X-CSRFToken": csrftoken
                }, 
                data:{

                },
                success:function(data)
                {
                    document.getElementById("textDuration").innerHTML = data;
                }

            })
        }
    </script>
</body>
