{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %} Dashboard {% endblock %}

{% block head %}
  <script src="{% static 'gc/dhtmlxgantt.js' %}"></script>
  <link rel="stylesheet" href="{% static 'gc/dhtmlxgantt.css' %}">
  <script src="{% static 'gc/testdata.js' %}"></script>
{% endblock %}


{% block content %}
  <div class="header">
  </div>

       <h2>You have been logged out</h2>
        <div class="border-top pt-3">
            <small class="text-muted">
                <a href="{% url 'login' %}"> Login Again</a>
            </small>
        </div>
  <style>       
    div.header
    {
        margin-top: 30px;
        margin-bottom: 60px
    }
  </style>

{% endblock %}