{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %} Register {% endblock %}

{% block head %}
  <script src="{% static 'gc/dhtmlxgantt.js' %}"></script>
  <link rel="stylesheet" href="{% static 'gc/dhtmlxgantt.css' %}">
  <script src="{% static 'gc/testdata.js' %}"></script>
{% endblock %}


{% block content %}
    <div class="header">
    </div>

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Join today</legend>
                {{ form.as_p}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit"> Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account?<a class="ml-2" href="{% url 'login' %}"> Sign in</a>
            </small>
        </div>
    </div>


    <style>
        img.accountImg
        {
            width: 300px;
            margin-top: 30px;
            margin-bottom: 60px;
        }
        div.header
        {
            margin-top: 30px;
            margin-bottom: 60px
        }
    </style>

{% endblock %}