<!doctype html>
<html>
  <head>
    <title>Our Funky HTML Page</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
