{% extends 'base.html' %}
{% load static from staticfiles %}
{% load class_tag %}

{% block title %} Dashboard {% endblock %}

{% block head %}
  <script src="{% static 'gc/dhtmlxgantt.js' %}"></script>
  <link rel="stylesheet" href="{% static 'gc/dhtmlxgantt.css' %}">
  <script src="{% static 'gc/testdata.js' %}"></script>
{% endblock %}


{% block content %}
    <div class="row header">
        <div class="col-1 headerImg">
            <img src="{% static 'icons/diamond.png' %}">
        </div>
        <div class="col-7">
            <div class="row headerTitle">
                {{module.name}}
            </div>
            <div class="row headerInfo">
                Total of {{assignment}} assignments
            </div>
        </div>
        <div class="col-1 headerImg">
            <img src="{% static 'icons/calendar.png' %}">
        </div>
        <div class="col">
            <div class="row headerTitle">
                {{day}}
            </div>
            <div class="row headerInfo">
                {{dayMonth}}th {{month}}
            </div>
        </div>
    </div>

    <div class="row activityField">
        <div class="col">
            <div class="headerSection">
                Complete
            </div>
            <div class="row sectionMain">
                {% for item in complete %}
                    {% if item|get_class == 'Activity' %}
                        {% include "activityItem.html" %}
                    {% elif item|get_class == 'Task' %}
                        {% include "taskItem.html" %}
                    {% elif item|get_class == 'Assignment'  %}
                        {% include "assignmentItem.html" %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col">
            <div class="headerSection">
                Upcomming
            </div>
            <div class="row sectionMain">
                {% for item in upcomming %}
                    {% if item|get_class == 'Activity' %}
                        {% include "activityItem.html" %}
                    {% elif item|get_class == 'Task' %}
                        {% include "taskItem.html" %}
                    {% elif item|get_class == 'Assignment'  %}
                        {% include "assignmentItem.html" %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col">
            <div class="headerSection">
                Missed
            </div>
            <div class="row sectionMain">
                {% for item in missed %}
                    {% if item|get_class == 'Activity' %}
                        {% include "activityItem.html" %}
                    {% elif item|get_class == 'Task' %}
                        {% include "taskItem.html" %}
                    {% elif item|get_class == 'Assignment'  %}
                        {% include "assignmentItem.html" %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="gcMain" id="gantt_here" style='height:500px;'></div>
    <script>
      gantt.init("gantt_here");
      gantt.parse(demo_tasks);
    </script>

    <script>
        function getActivity(id) {
            //alert(id);      
            window.open (
                "/activity/"+id,
                "mywindow",
                "menubar=0,resizable=0,width=600,height=800");
        }

        function getTask(id){
            location.replace("/task/open/"+id);
        }

        function getAssginement(id){
            location.replace("/assignment/"+id)
        }
 
    </script>

{% endblock %}
