{% load static from staticfiles %}
<div class="studyItem" onclick="getActivity({{item.id}});">
    <div class="row">
        <div class="col-3">
            <img class="studyItemImg" src="{% static 'icons/idea.png' %}">
        </div>
        <div class="col">
            <h2 class="studyItemTitle">{{ item.name }}</h2>
            <p class="studyItemText">Module: {{ item.task.assignment.module.name }}</p>    
            <p class="studyItemText">Task: {{ item.task.name }} </p>    
            <p class="studyItemText">Time: {{ item.duration }} </p>    
        </div>
    </div>
</div>