{% load static from staticfiles %}
<div class="studyItem" onclick="getAssginement({{item.id}});">
    <div class="row">
        <div class="col-3">
            <img class="studyItemImg" src="{% static 'icons/agenda.png' %}">
        </div>
        <div class="col">
            <h2 class="studyItemTitle">{{ item.name }}</h2>
            <p class="studyItemText">Module: {{ item.module.name }}</p>    
            <p class="studyItemText">Due: {{ item.due }} </p>    
            <p class="studyItemText">Weight: {{ item.weight }}%</p>    
        </div>
    </div>
</div>