<!--doctype html-->
{% load static from staticfiles %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}  {% endblock %}</title>
  {% block head %}  {% endblock %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'stylesheet.css?v={5/string}' %}">
  <script src="{% static 'jquery-3.4.1.min.js' %}"></script>

</head>

<body>
    {% block header %}  {% endblock %}
    <div>
      {% if request.path != '/activity/' and request.path != '/account/login/' and request.path != '/account/register/' and request.path != '/account/logout/'%}
        {% include "sidebar.html" %}
      {% endif %}
    </div>
    <div style="margin-left: 200px">
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>


</html>
