<style>
    .sidenav {
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
        margin-right: 50%;
    }

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 15px;
        color: #818181;
        display: block;
        text-align: justify;

    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .main {
        margin-left: 160px; /* Same as the width of the sidenav */
    }

    img.profile
    {
        background-color: #f1f1f1;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        border-radius: 50%;
        margin-bottom: 50px;
        margin-top: 30px;

    }

    img.logout
    {
        background-color: #f1f1f1;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        border-radius: 50%;
        margin-bottom: 50px;
        margin-top: 30px;

    }
</style>
<script>

    window.onload = function() {
        testf();
    };

    function testf(){

        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            type:'POST',
            url:'/root/getModules',
            headers:{
                "X-CSRFToken": csrftoken
            }, 
            data:{
            },
            success:function(data){
                
                for (i = 0; i < data.length; i++) { 
                    //alert("/module/"+data[i][0]);
                    var a = document.createElement('a');
                    a.href = "/module/"+data[i][0];
                    a.innerHTML = data[i][1];
                    nav.appendChild(a);

                }
            }
        })  
    }
    function getProfile(){
        var fileSelector = document.createElement('input');
        fileSelector.setAttribute('type', 'file');
        fileSelector.click();        
        alert(fileSelector.value);
    }

</script>

{% load static from staticfiles %}
<div class="sidenav" id="nav">
    <a href="/root/uploadProfile"><img class="profile" src="{% static 'icons/user_l.png' %}"></a>
    <a href="/account/logout"><img class="logout" src="{% static 'icons/exit.png' %}"></a>

    <a href="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
    <a href="/task">Tasks</a>
    <a href="/milestone">Milestones</a>
    
    <br>



</div>
