div.header{
    margin: 20px 0px;
}

div.headerImg{
    margin-right: 15px;
}
div.headerTitle
{
    font-family:verdana;
    font-size: 2rem;
    margin-bottom: -5px;
}

div.headerInfo
{
    font-family:verdana;
}

div.headerDate
{
    font-family:verdana;
    text-align: right;
    margin-right: 3rem;
}

div.headerDay
{
    font-family:verdana;
    text-align: right;
    font-size: 2rem;
    margin-right: 0rem;
}

div.activityField
{
    margin-top: 3rem;
}
div.headerSection
{
    font-family:verdana;
    text-align: left;
}

div.sectionMain
{
    height: 500px;
    overflow-y: auto;
    margin-right: 0.5rem;
}

div.studyItems
{
    height: 100%;
    overflow-y: scroll;
    margin-right: 0.5rem;
}

div.gcMain
{
    margin-top: 3rem;
}

div.studyItem
{
  background-color: #f2f2f2;
  height: 8rem;
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  overflow-y: auto;
  border-radius: 10px;
  cursor : pointer;
}

h2.studyItemTitle
{
    font-size: 15px;
}
p.studyItemText
{
    font-size: 12px;
    margin: 0px;
}
img.studyItemImg
{   
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    width: 30px;
}

