{% load static from staticfiles %}
<div class="studyItem" onclick="getTask({{item.id}});">
    <div class="row">
        <div class="col-3">
            <img class="studyItemImg" src="{% static 'icons/list.png' %}">
        </div>
        <div class="col">
            <h2 class="studyItemTitle">{{ item.name }}</h2>
            <p class="studyItemText">Module: {{ item.assignment.module.name }} </p>    
            <p class="studyItemText">Assginement: {{ item.assignment.name }} </p>    
            <p class="studyItemText">Due: {{ item.due }} </p>    
        </div>
    </div>
</div>