{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %} Task {% endblock %}
{% block content %}

<div class="row header">
    <div class="col-1 headerImg">
        <img class="" src="{% static 'icons/star.png' %}">
    </div>
    <div class="col-8">
        <div class="row headerTitle">
            Milestones
        </div>
        <div class="row headerInfo">
            You have {{ milestoneCount }} active Milestones
        </div>
    </div>
    <div class="col-1">
        <img class="headerImg" onclick="reloader();" src="{% static 'icons/plus.png' %}">
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="row studyItems">
            {% for milestone in milestones %}
                <div class="studyItem" onclick="getMilestone({{ milestone.id }})">
                    <div class="col">
                    </div>
                    <div class="col">
                        <h2 class="studyItemTitle">{{ milestone.name }}</h2>
                        <p class="studyItemText">Module: {{ milestone.assignment.module.name }} </p>    
                        <p class="studyItemText">Assginement: {{ milestone.assignment.name }} </p>    
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
    <div class="col">
        <form method="POST" action="addTask" >
            {% csrf_token %}
            <!-- lets django know this form is to be tusted, POST is allowed (else we have to define as form.py) -->
            {{ form }}
            <input type="number" id="milestoneID" value=0 hidden>
            <div class="form-group">
                <label for="name">Milestone Name</label>
                <input id="formName"  type="text" class="form-control" placeholder="Enter task name" name="name">
                <!-- name is name use request.POST['name'] -->
            </div>
            <div class="form-group">
                <label for="assignment">Assignment</label>
                <select onchange="getTasks(this.value);" class="form-control" id="formAssignment" name="assignment">
                    <option disabled selected value> -- select an option -- </option>
                    {% for assignment in assignments %}
                    <option value="{{assignment.id}}" >{{ assignment.module.name }} ⯈ {{ assignment.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="set">Set</label>
                <input disabled id="formSet" type="datetime-local" class="form-control" name="set">
            </div>
            <div class="form-group">
                <label for="due">Due</label>
                <input disabled id="formDue" type="datetime-local" class="form-control" name="due">
            </div>
            <div class="form-group">
                <label for="assignment">Tasks</label>
                <select onchange="addTask(this.value);" class="form-control" id="formTask" name="assignment">
                    
                </select>
            </div>
            <img onclick="saveMilestone();" src="{% static 'icons/save.png' %}" id="imgSave">
            <img hidden onclick="saveEdit();" src="{% static 'icons/save.png' %}" id="imgEditSave">
            <img hidden onclick="addActivity();" src="{% static 'icons/add.png' %}" id="imgAddActivity">
            <img hidden onclick="editMilestone();" src="{% static 'icons/edit.png' %}" id="imgEdit">
            <img hidden onclick="deleteMilestone();" src="{% static 'icons/garbage.png' %}" id="imgDelete">
        </form>
        <div id="milestoneTasks" class="row studyItems">            
        </div>
    </div>
</div>

<script>
    var milestoneName = document.getElementById("formName");
    var milestoneAssignment = document.getElementById("formAssignment");
    var milestoneSet = document.getElementById("formSet");
    var milestoneDue = document.getElementById("formDue");
    var milestoneID = document.getElementById("milestoneID");
    var milestoneTask = document.getElementById("formTask");
    var seletedTasks = [];

    function getMilestone(id) {
        document.getElementById("imgEdit").hidden = false;
        document.getElementById("imgDelete").hidden = false;

        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            type:'GET',
            url:'/milestone/getMilestone',
            headers:{
                "X-CSRFToken": csrftoken
            }, 
            data:{
                'id':id
            },
            success:function(data){
                var div = document.getElementById('milestoneTasks');
                div.innerText = "";
                milestoneName.value = data.name;
                milestoneName.disabled = true;
                milestoneAssignment.selectedIndex = data.assignment.id;
                milestoneAssignment.disabled = true;
                milestoneSet.value = data.set;
                milestoneSet.disabled = true;
                milestoneDue.value = data.due;
                milestoneDue.disabled = true;
                milestoneID.value = data.id;
                milestoneID.disabled = true;
                div.innerHTML += data.tasks;
                milestoneTask.disabled = true;

                select = document.getElementById('formTask');
                select.innerHTML = ""
                for (i = 0; i < data.taskOptions.length; i++) { 
                    var opt = document.createElement('option');
                    opt.value = data.taskOptions[i][0];
                    opt.innerHTML = data.taskOptions[i][1];
                    select.appendChild(opt);
                }

            }
        })
    }

    function getTasks(id){
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            type:'GET',
            url:'/milestone/getTasks',
            headers:{
                "X-CSRFToken": csrftoken
            }, 
            data:{
                'id':id
            },
            success:function(data){
                select = document.getElementById('formTask');
                select.innerHTML = ""
                for (i = 0; i < data.length; i++) { 
                    var opt = document.createElement('option');
                    opt.value = data[i][0];
                    opt.innerHTML = data[i][1];
                    select.appendChild(opt);
                }
                
            }
        })
    } 

    function addTask(id){
        seletedTasks.push(id);
        var tasks = document.getElementById('formTask'), task, i;
        for(i = 0; i < tasks.length; i++) {
            task = tasks[i];
            if (task.value==id) {
                task.remove();
            }
        }
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            type:'GET',
            url:'/milestone/addTask',
            headers:{
                "X-CSRFToken": csrftoken
            }, 
            data:{
                'id':id
            },
            success:function(data){
                var div = document.getElementById('milestoneTasks');
                div.innerHTML += data.task;
                if (milestoneDue.value < data.due){
                    milestoneDue.value = data.due;
                }
                if (milestoneSet.value == 0){
                    milestoneSet.value = data.set;
                }                
                else if (milestoneSet.value > data.set){
                    milestoneSet.value = data.set;
                }

            }
        })    
    }

    function saveMilestone(){
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            type:'GET',
            url:'/milestone/saveMilestone',
            headers:{
                "X-CSRFToken": csrftoken
            }, 
            data:{
                'id' : milestoneID.value,
                'name' : milestoneName.value,
                'set' : milestoneSet.value,
                'due' : milestoneDue.value,
                'assignment' : milestoneAssignment.value,
                'tasks': seletedTasks,
            },
            success:function(data){
                if (data=="gg"){
                    reloader();
                }

            }
        })    
    }

    function deleteMilestone(){
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            type:'GET',
            url:'/milestone/deleteMilestone',
            headers:{
                "X-CSRFToken": csrftoken
            }, 
            data:{
                'id':milestoneID.value,
            },
            success:function(data){
                if (data == "gg"){
                    location.reload();
                }
            }
        })    
    }

    function editMilestone(){
        document.getElementById("imgEdit").hidden = true;
        document.getElementById("imgDelete").hidden = true;

        milestoneName.disabled = false;
        milestoneAssignment.disabled = false;
        milestoneTask.disabled = false;
        var div = document.getElementById('milestoneTasks');
        div.innerHTML = '';
    }

    function reloader(){
        location.reload();
    }   
    function getTask(id){
        location.replace("/task/open/"+id);
    }

</script>
{% endblock %}
