<!--doctype html-->
{% load static from staticfiles %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <title> User Config </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
  <script src="{% static 'jquery-3.4.1.min.js' %}"></script>

</head>

<body>
  <div>

  </div>
  <div style="margin-left: 200px">
    <div class="container">
        <form method="POST" action="addTask" >
            {% csrf_token %}
            <!-- lets django know this form is to be tusted, POST is allowed (else we have to define as form.py) -->
            {{ form }}
            <input type="number" id="taskID" hidden>
            <div class="form-group">
                <label for="name">Task Name</label>
                <input id="formName"  type="text" class="form-control" placeholder="Enter task name" name="name">
                <!-- name is name use request.POST['name'] -->
            </div>
            <div class="form-group">
                <label for="assignment">Assignment</label>
                <select class="form-control" id="formAssignment" name="assignment">
                    {% for assignment in assignments %}
                    <option>{{ assignment.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="set">Set</label>
                <input id="formSet" type="datetime-local" class="form-control" name="set">
            </div>
            <div class="form-group">
                <label for="due">Due</label>
                <input id="formDue" type="datetime-local" class="form-control" name="due">
            </div>
            <div class="form-group">
                <label for="notes">Notes</label>
                <textarea id="formNotes" class="form-control" name="notes" rows="5" placeholder="Enter notes here"></textarea>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Mark complete
                </label>
            </div> 
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>

        </form>
    </div>
  </div>


  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>
