{% extends 'base.html' %}

{% block title %} Test {% endblock %}

{% block content %}
  <form action="/root/testadd" method="post">
    {% csrf_token %} <!-- lets django know this form is to be tusted, POST is allowed (esle we have to define as form.py) -->
    {{ form }}
    <div class="form-group">
      <label for="nameInput">Name</label>
      <input type="text" class="form-control" id="nameInput", name="name"> <!-- name is name use request.POST['name'] -->
    </div>
    <div class="form-group">
      <label for="userNameInput">Name</label>
      <input type="text" class="form-control" id="userNameInput", name="username"> <!-- name is username use request.POST['username'] -->
    </div>
    <div class="form-group">
      <label for="passwordInput">Name</label>
      <input type="password" class="form-control" id="passwordInput", name="password"> <!-- name is password use request.POST['password'] -->
    </div>

    <div class="form-group">
        <label for="time">Time</label>
        <input type="datetime-local"  class="form-control", id="time", name="dt">
      </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  {% for profile in profileData %}

    <div class="card" style="width: 18rem; margin-top: 35px">
      <div class="card-body">
        <h5 class="card-title">{{ profile.name }}</h5>
        <p class="card-text">username: {{ profile.user }}</p>
        <p class="card-text">password: {{ profile.password }}</p>
      </div>
    </div>
  {% endfor %}

{% endblock %}
